.container#virtual-carousel {
  user-select: none;
  position: relative;
  display: flex;
  justify-content: center;
  perspective: 1000px;
}

#virtual-carousel > div {
  user-select: none;
  position: absolute;
  transform-origin: 50% 50% -2000px;
  transform: rotateY(1deg);
  backface-visibility: hidden;
}

#virtual-carousel img {
  user-select: none;
}
