.container {
  user-select: none;
  position: relative;
  display: flex;
  /**/
  justify-content: center;
  perspective: 1000px; /* for non orthographic carousel*/
}

.container > .wrapper {
  user-select: none;
  position: absolute;
  transform: rotateY(1deg);
  backface-visibility: hidden; /*optional*/
  backface-visibility: preserve-3d; /* for orthographic*/
}
